<!-- <body>
  <div class="container">
    <h1 class="mb-4">Các dự án đang triển khai</h1>
    <% articles.forEach(article => { %>
    <div class="card mt-4">
      <div class="card-body">
        <h4 class="card-title"><%= article.title %></h4>
        <div class="card-subtitle text-muted mb-2">
          <%= article.createdAt.toLocaleDateString() %>
        </div>
        <div class="card-text mb-2"><%= article.description %></div>
        <a href="articles/<%= article.slug %>" class="btn btn-primary"
          >Xem chi tiết</a
        >
      </div>
    </div>
    <% }) %>
  </div>
</body> -->

<body>

<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Tất cả dự án</h1>
          <span class="subheading">Lorem Ipsum is simply dummy text of the printing and typesetting industry</span>
        </div>
      </div>
    </div>
  </div>
</header>

  <div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% articles.forEach(article => { %>
      <div class="post-preview">
        <!-- <a href="articles/<%= article.slug %>"> -->
        <a href="/show-project">
          <h2 class="post-title">
            <%= article.title %>
          </h2>
          <h3 class="post-subtitle"><%= article.description %></h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#">Admin</a>
          on  <%= article.createdAt.toLocaleDateString() %>
        </p>
      </div>
      <% }) %>
    </div>
  </div>
</div>

</body>

