<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="dashboard/plugins/fontawesome-free/css/all.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="dashboard/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="dashboard/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="dashboard/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dashboard/dist/css/adminlte.min.css">
  <script src="js/index.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>


<body>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('assets/img/phuocduc.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Bài viết</h1>
            <span class="subheading">Lorem Ipsum is simply dummy text of the printing and typesetting industry</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <% articles.forEach(article => { %>
        <div class="post-preview">
          <!-- <a href="articles/<%= article.slug %>"> -->
          <a href="articles/<%= article.slug %>">
            <h2 class="post-title">
              <%= article.title %>
            </h2>
            <h3 class="post-subtitle"><%= article.description %></h3>
          </a>
          <p class="post-meta">
            Posted by
            <a href="#">Admin</a>
            on  <%= article.createdAt.toLocaleDateString() %>
          </p>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
  
  </body>

</html>