<!-- <body>
  <div class="container">
    <h1 class="mb-1"><%= article.title %></h1>
    <div class="text-muted mb-2">
      <%= article.createdAt.toLocaleDateString() %>
    </div>
    <a href="/" class="btn btn-secondary">All Articles</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>

    <div>
      <%- article.sanitizedHtml %>
    </div>
  </div>
</body> -->


<header class="masthead" style="background-image: url('img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= article.title %></h1>       
          <span class="meta">Posted by
            <a href="#">Admin</a>
            on  <%= article.createdAt.toLocaleDateString() %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <%- article.sanitizedHtml %>
      </div>
    </div>
  </div>
</article>